.banner-tile {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-tile__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.banner-tile__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-tile__content {
  position: relative;
  z-index: 3;
  width: 100%;
  padding: 6rem 2rem;
  text-align: center;
}
.banner-tile__content__inner.container {
  position: relative;
  border-radius: 40px;
  padding: 4rem 0;
}
.banner-tile__content__inner.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  opacity: 0.7;
  border-radius: inherit;
  z-index: -1;
}
.banner-tile__content__title {
  margin-bottom: 1.5rem;
}
.banner-tile__content__subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.banner-tile__content__ctas {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.banner-tile__content__ctas a {
  margin: 0 0.5rem;
}