.btn {
    display: inline-block;
    position: relative;
    padding: 0.75rem 1.5rem;
    border-radius: 100px;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    max-width: fit-content;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: -1;
    }

    &:hover {
        color: inherit;
        text-decoration: none;

        &::before {
            transform: translateX(0);
        }
    }

    // Primary button styles
    &-primary {
        background-color: var(--primary);
        color: var(--white);

        &::before {
            background-color: var(--primary-dark);
        }

        &:hover {
            color: var(--white);
        }
    }

    // Secondary button styles
    &-secondary {
        background-color: var(--secondary);
        color: var(--black);

        &::before {
            background-color: var(--secondary-dark);
        }

        &:hover {
            color: var(--black);
        }
    }

    // White button styles
    &-white {
        background-color: var(--white);
        color: var(--black);

        &::before {
            background-color: var(--primary-dark);
        }

        &:hover {
            color: var(--white);
        }
    }

    // Transparent button styles
    &-transparent {
        background-color: rgba(255, 255, 255, 0.25);
        color: var(--white);

        &::before {
            background-color: rgba(255, 255, 255, 0.15);
        }

        &:hover {
            color: var(--white);
        }
    }

    &-underline {
        background-color: transparent;
        color: var(--white);
        border-radius: 0px;
        padding-left: 0.5rem;
        padding-right: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        position: relative;

        // Use ::before for the underline effect
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            top: unset;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--white);
            transition: width 0.3s ease-in-out;
            z-index: 1;
        }

        &:hover::before {
            width: 100%;
            transition: width 0.3s ease-in-out;
        }

        // Use ::after for the arrow symbol
        &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            width: 14px;
            height: 14px;
            right: 0rem;
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.3s ease-in-out;
            font-size: 0.875rem;
        }

        &:hover {
            color: var(--white);

            &::after {
                transform: translateY(-50%) translateX(3px);
            }
        }
    }

    &-underline-black {
        background-color: transparent;
        color: var(--black);
        border-radius: 0px;
        padding-left: 0.5rem;
        padding-right: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        position: relative;

        // Use ::before for the underline effect
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            top: unset;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--black);
            transition: width 0.3s ease-in-out;
            z-index: 1;
        }

        &:hover::before {
            width: 100%;
            transition: width 0.3s ease-in-out;
        }

        // Use ::after for the arrow symbol
        &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
            display: inline-block;
            width: 14px;
            height: 14px;
            right: 0rem;
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.3s ease-in-out;
            font-size: 0.875rem;
        }

        &:hover {
            color: var(--black);

            &::after {
                transform: translateY(-50%) translateX(3px);
            }
        }
    }
}