.container {
    max-width: 1312px;
    padding: 0 32px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
        padding: 0;
        max-width: 90%;
    }
}

.main-nav.container {
    width: 100%;
}