# Ignore everything in the root directory
/*

# Allow essential files
!.gitignore
!package.json
!gulpfile.js
!.nvmrc
!readme.md

# Allow wp-content directory
!wp-content/

# Ignore everything inside wp-content except beyond trans theme, and plugins
wp-content/*
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/beyond-trans-team-members/
!wp-content/plugins/beyond-trans-therapists/
!wp-content/plugins/beyond-trans-testimonials/
!wp-content/plugins/beyond-trans-disclaimers/
!wp-content/themes/

# Ignore compiled dist folder
wp-content/themes/beyond-trans/dist/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
*.iml