# Ignore everything in the root directory
/*

# Allow gitignore file
!.gitignore

# Allow wp-content directory
!wp-content/

# Ignore everything inside wp-content except beyond trans theme, and plugins
wp-content/*
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/beyond-trans-team-members/
!wp-content/plugins/beyond-trans-therapists/


!wp-content/themes/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
*.iml

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore composer vendor directory
vendor/
