.split-content-text-cta {
  padding: 6rem 0;
}
.split-content-text-cta__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
}
.split-content-text-cta__inner--flipped {
  flex-direction: row-reverse;
}
.split-content-text-cta__col {
  flex: 1 1 45%;
  min-width: 300px;
}
@media (max-width: 991px) {
  .split-content-text-cta__col {
    flex: 1 1 100%;
  }
}
.split-content-text-cta__text {
  margin-bottom: 2rem;
}
.split-content-text-cta__text p:last-child {
  margin-bottom: 0;
}
.split-content-text-cta__column-text {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}
.split-content-text-cta__ctas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}