.organisations.block {
  padding: 6rem 0;
}
.organisations__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.organisations__icon svg {
  width: 3rem;
  height: 3rem;
}
.organisations h2 {
  margin-bottom: 0rem;
}
.organisations a {
  text-decoration: underline;
  color: #007bff;
  transition: color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;
}
.organisations a:hover, .organisations a:focus {
  color: #0056b3;
  text-decoration-color: #0056b3;
}