.column-text{
.container {
   width: 50% !important;

   @media (max-width: 768px) {
    width: 100% !important;

    h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .column-text__subheading {
        font-size: 0.875rem;
    }
   }

   h2 {
    text-align: center;

   }


   .column-text__subheading {
    text-align: center;
    margin-bottom: 4rem;
   }

   .column-text__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
   }
}
   
}


